rough.ipynb
Weather
flights
weather_ATL_2026_Q1.csv
data/processed/flights_2026_q1.csv
data/processed/flights_2026_q1_cleaned.csv
data\airline_star_schema
data/airline_star_schema/DIM_CARRIER.csv
data/airline_star_schema/DIM_DATE.csv
data/airline_star_schema/DIM_DEST_AIRPORT.csv
data/airline_star_schema/DIM_ORIGIN_AIRPORT.csv
data/airline_star_schema/DIM_WEATHER.csv
data/airline_star_schema/FACT_FLIGHT_OPERATIONS.csv
